/*******************************/
/* GENERAL CSS */
/*******************************/

/*

--- 01 TYPOGRAPHY SYSTEM ---

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line heights:
Default: 1
Small : 1.05
Medium : 1.2
Paragraph default: 1.6

- Letter spacing:
0.5px
0.75px



--- 02 Colors ---

- Primary color: #5f48d9
- Tints :#efedfb
- Shades : #5641c3
- Accents :
- Grays : 
  #767676 (lightest grey allowed on #fff)
, #6f6f6f (lightest grey allowed on #efedfb), 
, #555
, #333
, #130e2b


--- 03 SHADOWS ---

 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- 04 BORDER-RADIUS ---

default: 9px
medium: 11px

--- 05 WHITESPACE ---

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(96, 72, 217, 0.3);
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 = 62.5% */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*******************************/
/* GENERAL REUSABLE COMPONENTS */
/*******************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr); /* 1fr 1fr 1fr 1fr */
}

.grid--5--cols {
  grid-template-columns: repeat(5, 1fr); /* 1fr 1fr 1fr 1fr */
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #130e2b;
  font-weight: 700;
  letter-spacing: -0.5px;
}

/*******************************/
/* ANIMAYION HEADING */
/*******************************/

.heading-primary {
  opacity: 0; /* start invisible */
  animation: fadeInDown 0.8s ease-out forwards;
  animation-delay: 0.3s; /* wait 0.3s before starting */

  font-size: 5.1rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block; /* its span = display = block*/
  font-size: 1.6rem;
  font-weight: 500;
  color: #5641c3;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.8rem 3.2rem;
  border-radius: 50px;
  text-decoration: none;

  /*only necessary for .btn*/
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on orginal "state" */
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background: #5f48d9;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #fff;
  
  /* border: 2px solid #5f48d9; */
  color: #5f48d9;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #5f48d9;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #efedfb;
  /* border: 3px solid #fff; */
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #130e2b;
  color: #efedfb;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #5f48d9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #433298;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #5f48d9;
}

/* HELPER/SETTINGS CLASSES */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/*******************************/
/* HEADER */
/*******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efedfb;

  /* Beacause we want to head to stiky later */
  height: 9.6rem;
  padding: 0 4.8rem;

  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  z-index: 1000;
}

.highlight {
  background: linear-gradient(to right, #828282, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 120px;
}

.logo {
  height: 2.2rem;
}
/*******************************/
/* NAVIGATION */
/*******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #5641c3;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 50px;
  border: 2px solid #5f48d9;
  color: #272727;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #5641c3;
  color: #fff;
}

/*******************************/
/* HERO SECTION */
/*******************************/
.section-hero {
  position: relative;
  overflow: hidden;
  background-color: #efedfb;
  height: calc(100vh - 9.6rem); /* 9.6rem = header height */
  display: flex;
  align-items: center;  
  justify-content: center;
 
}

/* make sure your real hero content sits above the blobs */
.section-hero .hero {
  position: relative;
  z-index: 1;
}

/* common shape defaults */
.shape {
  position: absolute;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  filter: blur(50px); /* heavy blur */
  opacity: 0.6; /* soften intensity */
  transform: translateZ(0); /* GPU-accelerate */
}

/* first blob — top left */
.shape--one {
  top: -8rem;
  left: 50rem;
  background: linear-gradient(45deg, #afa4ec, #5f48d9);
}

/* second blob — bottom right */
.shape--two {
  bottom: -7rem;
  right: -8rem;
  background: linear-gradient(45deg, #5f48d9, #afa4ec);
}

/* more dramatic, multi-point float for shape--one */
@keyframes float1 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(30px, -20px) scale(1.2) rotate(15deg);
  }
  50% {
    transform: translate(-20px, 30px) scale(1) rotate(-10deg);
  }
  75% {
    transform: translate(20px, 20px) scale(1.1) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

/* a different path for shape--two */
@keyframes float2 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  20% {
    transform: translate(-30px, 20px) scale(1.1) rotate(-15deg);
  }
  40% {
    transform: translate(25px, -25px) scale(1) rotate(10deg);
  }
  60% {
    transform: translate(-15px, 15px) scale(1.2) rotate(-5deg);
  }
  80% {
    transform: translate(15px, -10px) scale(1) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

/* apply these to your blobs */
.shape--one {
  animation: float1 10s ease-in-out infinite;
  /* keep the existing blur & background */
}

.shape--two {
  animation: float2 12s ease-in-out infinite;
  /* keep the existing blur & background */
}

.rocket-bg {
  width: 700px;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: auto;
  filter: blur(5px);
  opacity: 0.5;
  transform: translateZ(0);
  z-index: 0;
  animation: float2 12s ease-in-out infinite;
}

.section-text-box {
  position: relative;
}

.rocket {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
  width: 200px;
  height: auto;
  pointer-events: none;
  opacity: 0.9;
  z-index: 40;
}

/* ---------- before new code ------------ */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
    text-align: center;
  align-items: center;
}

/* animation hero desc */

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.hero-description {
  opacity: 0; /* start hidden */
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.8s; /* start after your H1 */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 10rem;
  justify-content: center;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #efedfb;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #5f48d9;
  font-weight: 700;
}

/*******************************/
/* FEATURED IN SECTION */
/*******************************/

.section-featured {
  padding: 4.8rem 0; /*3.2rem 0*/
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #888;
}

/* animation section featured */

.logos {
  overflow: hidden;
  width: 100%;
}

.logos .marquee {
  display: flex;
  animation: scrollX 20s linear infinite;
}

.logos .marquee__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0; 
  min-width: 100%;
  gap: 3rem; 
}

.logos ion-icon {
  font-size: 4.5rem;
  filter: brightness(0);
  opacity: 0.5;
}

@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*******************************/
/* HOW IT WORKS SECTION */
/*******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  background-color: #efedfb;
  z-index: -2;
  padding-bottom: 60%; /* 60% of parent's width */
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #dfdaf7;
  z-index: -1;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img {
  width: 50%;
}

/*******************************/
/* MEALS SECTION */
/*******************************/

.section-courses {
  padding: 9.6rem 0;
}

.course {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.course:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(196, 160, 211, 0.525);
}

.course-content {
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
}

.course-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.see-all-courses-link {
  font-size: 1.5rem; 
  font-weight: 600;
  color: #5f48d9;
  text-decoration: none;
  transition: color 0.2s;
}
.see-all-courses-link:hover {
  color: #333;
}
/*******************************/
/* TESTOMONIALS SECTION */
/*******************************/

.section-testomonials {
  background-color: #efedfb;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testomonials-container {
  padding: 9.6rem;
}

.testomonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testomonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testomonial-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testomonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*******************************/
/* PRICING SECTION */
/*******************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #efedfb;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #efedfb;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "best value";
  color: #333;
  position: absolute;
  top: 6%;
  right: -17%;
  transform: rotate(45deg);
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  text-transform: uppercase;
  padding: 0.8rem 8rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #5f48d9;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #5f48d9;
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: #efedfb;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*******************************/
/* CTA SECTION */
/*******************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal /left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #5f48d9;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #dfdaf7, #afa4ec);
  overflow: hidden;

  /*temp*/
  /* height: 50rem; */
}

.cta-text-box {
  padding: 4.8em 6.4rem 6.4rem 6.4rem;
  color: #130e2b;
}

.cta-text-box .heading-secondary {
  color: #130e2b;
  margin-bottom: 3.2rem;
  white-space: pre-line;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(96, 72, 217, 0.3),
      rgba(95, 83, 158, 0.3)
    ),
    url("../img/cta-img.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  background-color: #efedfb;
  font-family: inherit;
  color: inherit;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*******************************/
/* FOOTER */
/*******************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #ddd;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-link {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacs {
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #767676;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}

/* ------ NEW CARDS ------- */

.card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(80, 40, 240, 0.08);
  overflow: hidden;
  width: 350px;
  margin: 40px auto;
  transition: box-shadow 0.3s, transform 0.3s;
}
.card:hover {
  box-shadow: 0 12px 40px rgba(80, 40, 240, 0.15);
  transform: translateY(-6px) scale(1.02);
}
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img__courses {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 12px;
  border-radius: 18px;
  object-fit: cover;
  aspect-ratio: 1.6/1;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.card__body {
  padding: 1rem 1.5rem;
}
.card__rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}
.star-icon {
  width: 1.6em;
  height: 1.6em;
  fill: #57c38c;
  vertical-align: middle;
  margin-bottom: 0.3rem;
}
.card__number-count {
  font-size: 1.2rem;
  font-weight: 600;
}
.card__rating-count {
  color: #8e8e8e;
  font-size: 1.1rem;
}

.card__title {
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
  color: #13103d;
  text-align: left;
}

.card__subtitle {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 1.3rem;
  text-align: left;
  font-weight: 500;
}

.card__features {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.1rem;
}
.card__feature {
  border: 1.5px solid #d7c6fd;
  border-radius: 9px;
  padding: 6px 12px;
  font-size: 1.1rem;
  font-weight: 500;
  gap: 6px;
  color: #5f48d9;
}
.feature-icon {
  vertical-align: middle;
}

.card__description {
  font-size: 1.25rem;
  color: #909090;
  line-height: 1.55;
  margin-bottom: 2.1rem;
}

.btn--primary {
  background: #5f48d9;
  color: #fff;
  padding: 1.4rem 0;
  font-size: 1.3rem;
  border-radius: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}
.btn--primary:hover {
  background: #4e3ebc;
}
